.grid{    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-gap: 15px;
    float: center;
    margin-top: 50px;
    margin-left: 25px;    
}

@media only screen and (min-width: 500px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }  
}

@media only screen and (min-width: 850px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
}

.card{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgb(83, 78, 78);
    /*background: rgb(117, 114, 114);*/
    text-decoration: none;
    border-radius: 30px;
    width: 800px;
    height: 1100px;
}


.box{
    width: 600px;
    height: 400px;
    overflow: hidden;
    background-position: center; 
    background-size: cover;
    border-radius: 30px;
}

.name{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 50px;
    font-family: 'MV Boli';
    margin-top: -0px;
}

.link{
    text-decoration: none;
}

.info{
    display: grid;   
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    float: center;
    margin-top: 50px;
    margin-left: 25px;  
}

.infoBox{
    text-align: left;
    margin-left: 120px;
    margin-top: 5px;
}

.title{
 
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Comic Sans MS';
    font-size: 25px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
}

.dato{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Comic Sans MS';
    font-size: medium;
    margin-right: 2px;
    margin-left: 30px;
    margin-top: 1px;
    background-color: rgb(102, 100, 100);
    border-radius: 5px;
    text-align: right;
}



.gridH{
    display: grid;   
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    float: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (min-width: 500px) {
    .gridH {
      grid-template-columns: 1fr 1fr;
    }  
}

@media only screen and (min-width: 850px) {
    .gridH {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.hashtag{
    background-color:rgb(102, 100, 100);/*rgb(99, 98, 98)*/;
    width: 100x;
    height: 50px;
    border-radius: 10px;
    
}

.temperament{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: medium;
    font-family: 'Comic Sans MS';
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
}
