.container{
    margin-top: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgb(151, 143, 143);
    border-width: 20px;  
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(151, 143, 143);
}

.li{
    display:inline-block;
    text-align:center;
}

.number{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(151, 143, 143);
}

.number:hover{
    background-color: #333;
}